.header{
    --background: linear-gradient(to right,#4E97FF,#355DF1);
    color: white;
}

ion-grid {
    --ion-grid-column-padding: 10px;
    border-collapse: collapse;
    border-style: hidden;
    
    ion-row:first-child {
      //background-color:  blue;
      color: blue;
      font-weight: bold;
    }
    ion-col {
      //border: 1px solid black;
      border-bottom: 0;
      border-right: 0;
    }
    
    ion-row:nth-child(even){
      background-color: #f2f2f2;;
    }
  }

  ion-button{
    width: 80%;
    margin-left: 10%;
  }