<ion-header mode="ios">
  <ion-toolbar class="header">
    <ion-title>
      Apontar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ng-container [formGroup]="tmsForm">

    <ion-toolbar class="date-toolbar">
      <ion-icon name="arrow-back" (click)="changeDate(-1)" style="float: left; font-size: x-large; margin-left: 10px;"></ion-icon>
      {{getDataAtual()}}
      <ion-icon name="arrow-forward" (click)="changeDate(1)" style="float: right; font-size: x-large; margin-right: 10px;"></ion-icon>
    </ion-toolbar>

    <ion-item lines="full" button (click)="selecionarClientes()" detail>
      <ion-label class="label-campo">Cliente:</ion-label>
      <div style="min-width: 66%; color: black;" class="label-campo">{{getClienteOption() || "Selecione..."}}</div>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="label-campo">Descri&ccedil;&atilde;o das atividades:</ion-label>
    </ion-item>
    <ion-item>
      <ion-textarea rows="5" formControlName="observacao" placeholder="Informe suas observações sobre o atendimento..." class="observacoes ion-text-wrap" (focusout)="atividadesLostFocus()"></ion-textarea>
    </ion-item>

  </ng-container>

  <ion-item lines="full">
    <ion-label class="label-campo">Apontamentos:</ion-label>
  </ion-item>

  <ion-list lines="full" style="height: 45%;">

    <ion-item *ngFor="let a of timesheet.apontamentos">
      <ion-icon [attr.name]="a.sequencia % 2 !== 0 ? 'arrow-up-outline' : 'arrow-down-outline'" 
                [attr.color]="a.sequencia % 2 !== 0 ? 'primary' : 'danger'"></ion-icon>
      <ion-text style="margin-left: 20px;">{{showTime(a.hora)}}</ion-text>
      <ion-button slot="end" (click)="opcoesEdicao(a)">
        <ion-icon name="ellipsis-vertical-outline" style="float:right"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-list>

  <ion-item lines="none">
    <ion-label slot="start" class="label-campo">Total:</ion-label>
    <ion-text slot="start" style="margin-right: 50%;">{{totalHoras}}</ion-text>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" edge slot="fixed" style="position: absolute; bottom: 30px; right: 30px;">
    <ion-fab-button (click)="incluirApontamento()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-datetime #timePicker displayFormat="HH:mm" [pickerOptions]="timePickerOptions" [(ngModel)]="horaSelecionada" style="display: none"></ion-datetime>

</ion-content>
