.header{
    --background: linear-gradient(to right,#4E97FF,#355DF1);
    color: white;
}

.date-toolbar{
    --background: #DCDCDC;
    text-align: center;
    text-transform: capitalize;
}

.observacoes{
    border: solid 1px black;
}