@font-face{
    font-family: 'Roboto-Sans';
    src: url('../../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype')
}

.header{
    --background: linear-gradient(to right,#4E97FF,#355DF1);
    color: white;
}

.date-toolbar{
    --background: #DCDCDC;
    text-align: center;
    text-transform: capitalize;
    font-family: Roboto-Sans;
}

.observacoes{
    border: solid 1px black;
}

.label-campo{
    color: blue;
    font-family: Roboto-Sans;
}