.list-header-period{
    margin-left: 12%;
    margin-bottom: 20px;
}

ion-label{
    margin-left: 5%;
}

ion-button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80%;
}

ion-datetime .datetime-text{
    margin-right: 10%;
}

.padding{
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
}

.header{
    --background: linear-gradient(to right,#4E97FF,#355DF1);
    color: white;
}